* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  color: white;
  background-image: url('./image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  margin: 30px 450px 0 450px;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

button {
  height: 50px;
  width: 100%;
  display: block;
  background-color: coral;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border: black solid 2px;
}

button:hover {
  background-color: green;
  color: white;
}

#main {
  background-color: #000000bf;
  margin: 40px 450px;
  font-size: 20px;
}

.area {
  height: 40px;
  border-radius: 0.25rem;
  border: black solid 2px;
  display: block;
  width: 100%;
  padding: 4px;
}

.comment {
  padding: 5px;
  min-height: 120px;
  display: block;
  width: 100%;
  resize: vertical;
  border: black solid 2px;
}

.form-group {
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  display: block;
}

.form-label {
  padding-bottom: 8px;
}

.input-text:hover {
  cursor: pointer;
}

@media (max-width: 1600px) {
  #main, header {
    margin: 40px 300px
  }
}

@media (max-width: 1200px) {
  #main, header {
    margin: 40px 200px
  }
}

@media (max-width: 992px) {
  #main, header {
    margin: 40px 50px
  }
}
